:root {

    --color-fondo-principal: #A67A53;
    --color-fondo-secundario: #8C592B;
    --color-fondo-terciario: #F2CDA0;
    --color-fondo-cuaternario: #F2EBDC;

    --color-texto-principal: #FFFFFF;
    --color-texto-secundario: #C4C4C4;
    --color-texto-terciario: #A0A0A0;

    --color-resaltado: #FFD700;
    --color-resaltado-oscuro: #FFA500;

}