:root {

    --color-fondo-principal: #A67A53;
    --color-fondo-secundario: #8C592B;
    --color-fondo-terciario: #F2CDA0;
    --color-fondo-cuaternario: #F2EBDC;

    --color-texto-principal: #000000;
    --color-texto-secundario: #1A1A1A;
    --color-texto-terciario: #2A2A2A;

    --color-resaltado: #FFD700;
    --color-resaltado-oscuro: #FFA500;

}

.darkMode {

    --color-fondo-principal: #000000;
    --color-fondo-secundario: #1A1A1A;
    --color-fondo-terciario: #2A2A2A;
    --color-fondo-cuaternario: #3A3A3A;

    --color-texto-principal: #FFFFFF;
    --color-texto-secundario: #C4C4C4;
    --color-texto-terciario: #A0A0A0;

    --color-resaltado: #FFD700;
    --color-resaltado-oscuro: #FFA500;

}